server:
  port: 8082

spring:
  application:
    name: load-generator

io-service:
  url: ${IO_SERVICE_URL:http://localhost:8080}

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  level:
    com.profiler.loadgen: INFO
    org.springframework.web: INFO
